.nav{
    height: 100%;
    width: 100%;
   
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #DDAC20;
    font-size: 25px;
}
.content {
    display:flex;
    justify-content: center;
    margin-top: 50px;
    

}
.container {
    width: 100%;
    margin-top: 5%;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
    
}
.container h2 {
    background: #DDAC20;
    color: #00222b;
    width: 120px;
    font-size: 25px;
    padding: 5px;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    

}
.product-bottom {
    color: #DDAC20;
    
}
.przycisk{    
    border: 2px solid #DDAC20; 
    color: #DDAC20;     
    background: #00222b;     
    padding: 10px 20px;     
    font-size: 20px;     
    cursor: pointer;     
    
}